.nav {
  font-size: 14px;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  text-transform: capitalize;
}

.nav_active {
  font-size: 14px;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 6px;
  background: #a227ff;
  text-transform: capitalize;
}
